body {
    overflow-x: hidden;
}

#navMenu {
    background-color:#0d131a;
}

#log {
    font-size: 50px;
    color: #0d131a;
    text-align: center;
    margin: 15px;
}

footer {
    background-color: #0d131a;
}

footer p {
    color: #fafbfd;
}