body {
  font-family: "Segoe UI", "Roboto", Tahoma, sans-serif;
  padding: 0;
  color: #fff;
  font-size: 15px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-attachment: fixed;
  background-size: 100%;
}

h1 {
  text-align: center;
  margin: 60px auto 20px;
  max-width: 450px;
  min-width: 90px;
}

label {
  display: block;
  margin: 25px 0 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
a:hover {
  font-style: italic;
  text-decoration: underline;
}

p {
  line-height: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.container {
  margin: 0 auto;
  max-width: 300px;
}

.inputs-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.input-de-texto {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 0;
}

.buttons-flex {
  width: 300px;
  height: 40px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.link-container {
  text-align: center;
}

.input-type-submit {
  height: 100%;
  font-size: 15px;
  color: #fff;
  border: 0;
  border-radius: 8px;
  background-color: #1d5995;
  padding: 13px;
  transition: all 100ms ease-in-out;
  width: 130px;
}
.input-type-submit:hover {
  background-color: #0f4275;
  cursor: pointer;
}

#logo {
  width: 100%;
  text-align: center;
}

#entrar-button {
  align-self: flex-start;
}

#enviar-button {
  margin-top: 40px;
  flex-basis: 1fr;
  flex-grow: 1;
}

#cadastrar {
  text-align: center;
  flex-basis: 1fr;
  flex-grow: 1;
}

#question-mark-icon {
  width: 40px;
  margin: 5px 10px;
  transition: all 100ms ease-in-out;
}
#question-mark-icon:hover {
  width: 50px;
}

#esqueci-senha {
  color: #d5a940;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-bottom: 100px;
}
